.card-horizontal {
  .card-list {
    display: flex;
    justify-content: flex-start;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 3vw 0 0;
      &:last-child {
        margin-right: 0;
      }
      li {
        margin-bottom: 2vh;
      }
    }
  }
}
