<div class="container-fluid">
  <div class="page-title">
    <h1 class="display-4">{{ planet.name }}</h1>
  </div>

  <div class="planets-container row">
    <div class="col-sm">

      <div class="card">
        <div class="card-horizontal">
          <div class="image-square" [style.backgroundImage]="'url(' + planet.image + ')'"></div>
          <div class="card-body">
            <div class="card-list">
              <ul>
                <li>Region:</li>
                <li>System:</li>
                <li>Description:</li>
              </ul>
              <ul>
                <li>{{ planet.region }}</li>
                <li>{{ planet.system }}</li>
                <li>{{ planet.description }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
